<form [formGroup]="form">
  <ngnx-form-filed-textarea [formControl]="form.controls.text">Text place holder</ngnx-form-filed-textarea>
<!--  <ngnx-form-filed-textarea [ngModel]="text">Text place holder</ngnx-form-filed-textarea>-->
<!--  <ngnx-form-filed-textarea formControlName="text">Text place holder</ngnx-form-filed-textarea>-->

  <ngnx-form-field-date [formControl]="form.controls.date">sdadasd</ngnx-form-field-date>
<!--  <ngnx-form-field-date [ngModel]="date">sdadasd</ngnx-form-field-date>-->
<!--  <ngnx-form-field-date formControlName="date">sdadasd</ngnx-form-field-date>-->
</form>
<button
  tuiButton
  size="m"
  type="button"
  class="tui-space_top-3"
>
  Button
</button>
<tui-root></tui-root>
